/* POLICE */
@font-face {
    font-family: 'aaarghnormal';
    src: url('Aaargh-webfont.eot');
    src: url('Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aaargh-webfont.woff2') format('woff2'),
         url('Aaargh-webfont.woff') format('woff'),
         url('Aaargh-webfont.ttf') format('truetype'),
         url('Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cac_champagneregular';
    src: url('cac_champagne-webfont.eot');
    src: url('cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('cac_champagne-webfont.woff2') format('woff2'),
         url('cac_champagne-webfont.woff') format('woff'),
         url('cac_champagne-webfont.ttf') format('truetype'),
         url('cac_champagne-webfont.svg#cac_champagneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body
{
	background: url('tpoff/images/fond_jaune.png');
	font-family: 'aaarghnormal','cac_champagneregular',sans-serif;
	color:#778899;
}
#bloc_page
{
	width: 900px;
	margin: auto;
}
#titre_principal
{
	display: flex;
	flex-direction: column;	
}
#logo
{
	display: flex;
	flex-direction: row;
	align-items: baseline;	
}
#logo img
{
	width: 35px;
	height:35px;
}
header h1
{
	font-family: 'cac_champagneregular',sans-serif;
	font-size: 2em;
	font-weight: normal;
	margin: 0 0 0 10px;
}
header h2
{
	font-family: 'aaarghnormal',sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	margin-bottom: 15px;
	margin-left: 25px;
}
#menu
{
	display: inline;
}
#menul
{
	float: left;
}
#menur
{
	float: right;
}

div ul
{
	list-style-type: none;
	display: inline;
	
}
div li
{
	float: right;
	margin-right: 15px
}
#banniere_image
{
	background: url('tpoff/images/sanfrancisco.jpg')no-repeat;
	height: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	position: relative;
}
#banniere_description
{
	position: absolute;
	bottom: 2px;
	left: 5px;
	border-radius: 0px 0px 0px 0px; 
	width: 95%;
	background-color: grey;
	color: white;
	opacity: 0.6;
}
.boutonbleu
{
	position: absolute;
	right: 15px;
	background:url('tpoff/images/fond_degraderouge.png') repeat-x ;

}